DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=
DB_NAME=

SERVICE_HOST=
SERVICE_PORT=
APP_TIMEZONE=America/Chicago

MAILGUN_API_KEY=
MAILGUN_DOMAIN=
MAILGUN_FROM_EMAIL=
MAILGUN_TO_EMAIL=
MAILGUN_API_BASE_URL=https://api.mailgun.net
